body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #f0ecec;
    line-height: 1.6;
    font-size: 36px; /* Larger font size */
}

p {
    color: #f3eeee;
    line-height: 1.6;
    font-size: 20px; /* Larger font size */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 1.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}
